version: "3"
services:
  openvas:
    image: 'immauss/openvas:22.4.41'
    restart: always
    ports:
      - "443:9392"
    environment:
      - "PASSWORD={{ openvas_password }}"
      - "USERNAME={{ openvas_user }}"
      - "REDISDBS=512"
      - "QUIET=false"
      - "NEWDB=false"
      - "SKIPSYNC=false"
      - "RESTORE=false"
      - "DEBUG=false"
      - "HTTPS=true"
      - "GMP=9390"
    volumes:
      - "./data:/data:z"
    container_name: openvas
